<div class="container" id="header">
  <h3>Bienvenue sur mon CV en ligne !</h3>
  <h1>Antoine <span style="color : #bd5d38">Giusti</span></h1>
  <h3>Développeur FullStack</h3>
  <h3>Concepteur Développeur d'Applications</h3>
  <h3>Développeur Web et Mobile</h3>
</div>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Clarence Taylor</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/moi.jpg" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active js-scroll-trigger" routerLink="/" >Accueil</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/profil">Mon profil</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/formation">Ma formation</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/experiences">Mon Expérience</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/loisir">Mes Loisirs</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/langage">Mes Langages</a></li>
        </ul>
    </div>
</nav> 
  <!-- About-->
    <div class="social-icons">
      <h5>Retrouvez quelques projet ainsi que mon parcours sur les reseaux !</h5>
      <a class="social-icon" href="https://www.linkedin.com/in/antoine-giusti-369094207/"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-icon" href="https://github.com/AntoineGiusti/"><i class="fab fa-github"></i></a>
    </div>
</div>


<router-outlet></router-outlet>
<br>
<div class="container mt-50px">
  <img cImg height="500"  rounded src="assets/img/office.jpg" thumbnail width="auto" />
</div>  

