<div class="container">
    <h2>Mes loisirs et passions</h2>
    <h3>Technologie</h3>
    <ul>
        <li>Developpement Web</li>
        <li>Jeux Vidéos</li>
        <li>Créations Graphiques</li>
    </ul>
    <h3>Sports</h3>
    <ul>
        <li>Rugby</li>
        <li>Musculation</li>
        <li>Tennis</li>
        <li>Paddle</li>
        <li>Randonnée</li>
    </ul>
    <h3>Musique</h3>
    <ul>
        <li>Pratique</li>
        <li>Ecriture</li>
        <li>Composition</li>
        <li>Découvertes musicales</li>
        <li>Concert</li>
    </ul>
</div>

