<div class="container">
    <h2>Mes Langages pratiqués</h2>
    <h3>Programmation</h3>
    <ul>
        <li>Python</li>
        <li>PHP</li>
        <li>Java</li>
        <li>Kotlin</li>
    </ul>
    <h3>Script</h3>
    <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
    </ul>
    <h3>Base de données</h3>
    <ul>
        <li>SQL</li>
        <li>NoSQL</li>
        <li>PL-SQL</li>
    </ul>
    <h3>Web</h3>
    <ul>
        <li>HTML 5</li>
        <li>CSS 3</li>
        <li>SCSS</li>
    </ul>
    <h3>Frameworks / Librairie</h3>
    <ul>
        <li>Flask / Flask RestX</li>
        <li>Symfony</li>
        <li>Java EE</li>
        <li>Angular/JQuery</li>
        <li>Bootstrap</li>
    </ul>
    <h3>CMS</h3>
    <ul>
        <li>WordPress</li>
    </ul>
</div>