<div class="container">   
    <h2>Mes expériences</h2>
    <h3>Alternance Concepteur Développeur d'Application</h3>
    <p>depuis septembre 2022</p>
    <ul>
        <li>Développeur sécurité Python, Flask, Flask RestX  et Angular</li>
        <li>Application de sauvegardes de configuration sécurisées. </li>
        <li>Maquettage, Base de données NoSQL, Back-end API, Front-End Angular</li>
        <li>Orange Cyberdefense</li>
    </ul>
    <h3>Stage Développeur Web et Web Mobile</h3>
    <p>D'avril à juin 2022</p>
    <ul>
        <li>Développeur Web d'un site eCommerce Symfony / Twig et jQuery</li>
        <li>Maquettage, Base de données SQL, Back-End, Front-End</li>
        <li>Polymathe Becherel</li>
    </ul>
    <h3>Projets d'études</h3> 
    <h4>Dans le cadre de mon bac + 2</h4>   
    <p>ENI Sortie</p>
    <ul>
        <li>Developpement MVC d'un site d'organisation de sortie SQL / Symfony / Twig</li>
        <li>ENI Chartre de Bretagne</li>
    </ul>    
    <p>ENI Enchere</p> 
    <ul>
        <li>Développement en couche d'un site d'enchere SQL / JavaEE / HTML / CSS</li>
        <li>ENI Chartre de Bretagne</li>
    </ul>
    <h3>Projets Persos</h3> 
    <h4>Dans le cadre du fun</h4>   
    <p>CV Angular</p>
    <ul>
        <li>Developpement du CV dynamique sur lequel vous êtes en Angular, Typescript, HTML, SCSS, Bootstrap</li>
        <li>Chez moi</li>
    </ul> 
    <h3>WordPress</h3>
    <h4>Dans le cadre de la formation Kiluz</h4>
    <p>Janvier 2021</p>
    <ul>
        <li>Création de site vitrine sous le CMS WordPress</li>
        <li>Utilisation du Thème DIVI</li>
    </ul>
    <h3>Ancienne Carriere</h3>
    <h4>Chef d'équipe Menuiserie / Charpente</h4>
    <p>de juillet 2011 à décembre 2020</p>
    <ul>
        <li>Construction bois et pose d'ouvrage dans plusieurs entreprises de charpente</li>
        <li>Diverses mission de pose de menuiseries dans plusieurs entreprise</li>
    </ul>
    <h3>Autre</h3>
    <ul>
        <li>Opérateur d'assemblage poluvalent au sein de l'usine Sanden Manufacturing Europe</li>
        <li>Equipier puis Chef Pizzaïolo et Kébabié au sein d'un food truck</li>
        <li>Service en Bar au sein de l'établissement familliale</li>
    </ul>
</div>
