<div class="container">
    <h2>Mon Profil</h2>
    <div class="col-12">
    <h3>A propos de moi : </h3>
        <div class="col-7">
            <p>Mon profil est très atypique puisqu'ouvrier du batîment durant 10ans, j'ai décider de prendre un tournant dans ma vie et de changer de carriere.
            <br>
            En effet, à 29 ans, j'ai entrepris de suivre un cursus dans le développement Web et Web Mobile pour ensuite continuer vers une Alternance
            Concepteur, Développeur d'Applications.
            <br> 
            A la suite de celle-ci, j'envisage de poursuivre vers la formation Manager de Solutions Digitales et Datas,
            proposer par l'ENI, que je fréquente depuis le début de cette reconversion, afin de valider une formation diplomante reconnue par l'état Bac + 5.
            <br>
            J'ai toujours été passionné par l'informatique et cette reconversion était une suite quasiment logique à ce que j'aime dans la vie, programmer et bidouiller
            des trucs! J'ai donc commencé à développer des petits programmes en autodidaxie sur des langages simple avant de me lancer et d'étudier le développement 
            de façon plus professionnelle. 
            </p>
        </div>
    </div>
</div>
<--notification pour un test --!>