<div class="container"> 
    <h2>Mes Diplômes</h2>
    <h3>Mon cursus Developpeur a l'ENI</h3>
    <ul>
        <li>RNCP Bac + 5 Manageur Solutions Digitales et Data</li>
        <li>RNCP bac + 4 Concepteur Développeur d'Applications</li>
        <li>RNCP bac + 2 Développeur Web et Web Mobile</li>
    </ul>
    <h3>Formation école Kiluz</h3>
    <ul>
        <li>Creation de site WordPress avec le thème Divi</li>
    </ul>
    <h3>Baccalaureat</h3>
    <ul>
        <li>Baccalaureat Professionnel Technicien Constructeur Bois</li>
    </ul>
</div>  